/* font styles */

h1 {
  font-family: "PxGrotesk-screen";
  font-size: 64px !important;
  line-height: normal;
  letter-spacing: 1.92px;
  color: #fff;
}

h2 {
  font-family: "PxGrotesk-bold";
  font-size: 40px !important;
  line-height: normal;
  letter-spacing: 1.2px;
  color: #ffffff;
}

h3 {
  font-family: "NeueHaas-bold";
  font-size: 32px !important;
  line-height: normal;
  letter-spacing: 1.2px;
  color: #ffffff;
}

h4 {
  font-family: "PxGrotesk-bold";
  font-size: 32px !important;
  line-height: normal;
  letter-spacing: 1.2px;
  color: #b3a1ff;
}

p {
  font-family: "NeueHaas-light";
  font-size: 24px;
  color: #ffffff;
  letter-spacing: 2.4px;
}

.text {
  font-family: "NeueHaas-light";
  font-size: 20px;
  color: #ffffff;
  letter-spacing: 2.4px;
}

img {
  max-width: fit-content !important;
}

/* hero-section */

.hero-section {
  display: grid;
  grid-template-columns: 1fr 0.75fr;
  grid-template-rows: auto 1fr 1fr;
  /* display: flex;
  flex-direction: column;*/
  align-items: flex-start;
  gap: 40px;
  padding: 250px 80px 50px 80px;
  scroll-snap-align: center;
  height: 100vh;
}

.hero-section-visual {
  grid-row: span 2;
  max-height: 1fr;
}

.hero-section-content {
  grid-column: span 1;
}

.hero-section-headline {
  grid-column: span 1;
}

.scroll-down-cta {
  display: inline-flex;
  align-items: center;
  gap: 32px;
  display: flex;
}

.scroll-down-cta-text {
  line-height: 2em; /* Line height */
  height: 4em; /* Twice the line height for two lines */
  /* overflow: hidden; */
  width: 250px;
  word-wrap: break-word;
}

/* button */

.button {
  display: flex;
  padding: 12px 24px;
  cursor: pointer;
  border: 2px solid #FFF;
  border-radius: 54px;
  gap: 8px;
  align-items: center;
  justify-content: center;
  height: 57px;
  font-family: "NeueHaas-roman";
  color: #ffffff !important;
  font-size: 20px;
  letter-spacing: 2.4px;
  cursor: pointer !important;
}

.active-button {
  color: #121212 !important;
  border: 2px solid #9A5DFF !important;
  background: #9A5DFF !important;
}

/* underline button */

.button-underline {
  display: flex;
  height: 63px;
  padding: 8px 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 0px;
  background-color: none;
  cursor: pointer;
  color: #FFF;
  font-family: "NeueHaas-roman";
  font-size: 20px;
  letter-spacing: 1.68px;
}

.active-underline-button {
  border-bottom: 2px solid var(--white, #FFF);
  border-radius: 0px;
  cursor: pointer;
}

/* scroll container */

.scroll-container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  background-color: color(srgb 0.0667 0.0667 0.0667);
}

.section-2 {
  scroll-snap-align: start;
  height: 100vh;
  background: radial-gradient(80% 45% at 50% 50%, #9a5dff 0%, #121212 50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
}
