@import "../../scss/breakpoints.scss";
.container-section {
  background-color: transparent;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  padding: 0px 80px;
  @include mobile {
    padding: 0px 24px;
  }
}

.landingpage-column {
  width: 44%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;

  p {
    @include xxl {
      font-size: 24px;
    }
  }

  h2 {
    font-size: 20px;
    font-weight: 400;
    @include xxl {
      font-size: 32px;
    }
  }

  @include mobile {
    width: 100%;
  }
  @include xxl {
    width: 30%;
  }
}

/* For each section of the page */
.section {
  height: 100vh;
  max-width: calc(
    100% - 48px
  ); /* Adjust the width taking into account the mx-24 */
  /* margin: 0 24px; Assuming mx-24 means margin on both sides */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  color: white;
  scroll-snap-align: center;
  @include mobile {
    height: 200vh;
  }
}
