@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  background-color: color(srgb 0.0667 0.0667 0.0667);
}

.container-section {
  background-color: transparent;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  padding: 0px 80px;
}

.headline-section {
  width: 30%;
}

.landingpage-column {
  width: 44%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;

  p {
    font-size: 20px;
  }
}

/* For each section of the page */
.section {
  height: 100vh;
  max-width: calc(
    100% - 48px
  ); /* Adjust the width taking into account the mx-24 */
  /* margin: 0 24px; Assuming mx-24 means margin on both sides */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  color: white;
  scroll-snap-align: center;
}
