.navbar {
  position: sticky;
  top: 0;
  padding: 0px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #111111b3; /* Adjust the alpha value for desired transparency */
  backdrop-filter: blur(10px); /* Adjust the px value for desired blur amount */

  /* width: calc(100vw - 160px); Adjust width considering the padding */
  z-index: 10;
}
.logo {
  width: 100px;
  padding-block: 8px;
}

.nav-tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.tab {
  color: #ededed;
  font-family: "NeueHaas-roman";
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: lowercase;
  letter-spacing: 2px;
}

.tab:hover {
  text-decoration: underline;
  text-underline-offset: 8px;
}

.tab.active {
  color: #b3a1ff;
  font-weight: 900;
}

.language {
  text-transform: uppercase;
}
