.h1-pxgrotesk {
    font-family: 'PxGrotesk';
    font-size: 64px;
    width: 30%;
}
  
.h2-pxgrotesk {
    font-family: 'PxGrotesk';
    font-size: 40px;
    width: 30%;
    color: #ffffff;
}
  
.section-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
    padding: 120px 80px 50px 80px;
    scroll-snap-align: center;
    padding-block-end: 250px;
    height: 100vh;
}

.content {
    font-style: normal;
    font-weight: 300;
    width: 80%;
}

.background-blur {
    fill: #8c6bc1;
    filter: blur(84.05000305175781px);
    position: absolute;
    top: 700px;
}

.y.mandatory-scroll-snapping {
    scroll-snap-type: y mandatory;
}

.question-shuffle-section {
    display: flex;
    justify-content: center;
}

.question-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.question {
    display: flex;
    justify-content: center;
    width: 1024px;
    color: white;
    text-align: center;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.svg-position {
    position: absolute;
    top: 1030px;
}
  
.cta-section {
    display: inline-flex;
    align-items: flex-start;
    gap: 32px;
    display: flex;
    justify-content: center;
    margin-block-start: 80px;
    margin-block-end: 80px;
}

.button-outline {
    display: flex;
    height: 63px;
    padding: 18px 31px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 54px;
    border: 2px solid #FFF;
}

.button-outline-text {
    color: #FFF;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.68px;
    text-transform: uppercase;
}

.section-2 {
    padding-block: 250px 250px;
    scroll-snap-align: center;
    height: 100vh;
}

/* .container > div {
    scroll-snap-align: center;
}
  
.x.container > div {
    /* line-height: 128px;
    font-size: 64px; 
    width: 100%;
    height: 128px;
} */