.scroll-container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    background-color: color(srgb 0.0667 0.0667 0.0667);
}

.section-2 {
    scroll-snap-align: start;
    height: 100vh;
    background: radial-gradient(80% 45% at 50% 50%, #9A5DFF 0%, #121212 50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.question-section {
    width: 1024px;
    height: 162px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 130px;
    text-align: center;
}

.cta-section {
    display: flex;
    align-items: flex-start;
    gap: 32px;
}

.button-outline {
    display: flex;
    height: 63px;
    padding: 18px 31px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 54px;
    border: 2px solid #FFF;
    cursor: pointer;
}

.button-outline:active {
    background-color: #B3A1FF !important;
    color: black !important;
}

.button-outline-text:active {
    color: black !important;
}

.button-outline-text {
    color: #FFF;
    font-family: "NeueHaas-light";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.68px;
    text-transform: uppercase;
}
