/* font styles */

h1 {
    font-family: 'PxGrotesk-screen';
    font-size: 64px !important;
    line-height: normal;
    letter-spacing: 1.92px;
    color: #FFF;
}

h2 {
    font-family: "PxGrotesk-bold";
    font-size: 40px !important;
    line-height: normal;
    letter-spacing: 1.2px;
    color: #ffffff;
}

h3 {
    font-family: "NeueHaas-bold";
    font-size: 32px !important;
    line-height: normal;
    letter-spacing: 1.2px;
    color: #ffffff;
}

h4 {
    font-family: "PxGrotesk-bold";
    font-size: 32px !important;
    line-height: normal;
    letter-spacing: 1.2px;
    color: #B3A1FF;
}

p {
    font-family: "NeueHaas-light";
    font-size: 24px;
    color: #ffffff;
    letter-spacing: 2.4px;
}

text {
    font-family: "NeueHaas-light";
    font-size: 20px;
    color: #ffffff;
    letter-spacing: 2.4px;
}

/* hero-section */

.hero-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 80px;
    padding: 250px 80px 50px 80px;
    scroll-snap-align: center;
    height: 100vh;
}

.hero-section-content {
    width: 60% !important;
}

.hero-section-headline {
    width: 60% !important;
}

.scroll-down-cta {
    display: inline-flex;
    align-items: center;
    gap: 32px;
    display: flex;
}

.scroll-down-cta-text {
    width: 60%;
}

/* button */

button {
    font: "NeueHaas-light";
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
    text-transform: lowercase;
}