.section-2-center {
    display: flex;
    padding: 50px 80px 150px 80px;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    scroll-snap-align: start;
    height: 100vh;
    background: radial-gradient(14% 4% at 50% 93.5%, #9A5DFF 0%, #121212 100%);
}

.section-3 {
    scroll-snap-align: start;
    height: 100vh;
    padding-block-start: 60px;
}

.quote {
    display: flex;
    flex-direction: column;
    padding-block-start: 80px;
    text-align: center;
    width: 85%;
    gap: 16px;
}

.text-column-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
    row-gap: 30px;
    column-gap: 100px;
    height: 493px;
}

.image-column-section {
    display: flex;
    padding: 30px 0px;
    align-items: center;
    gap: 211px;
    justify-content: center;
}

.thin {
    width: 80%;
}

.small {
    width: 30%;
}

.cta-sec-2 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
    padding-block-start: 100px !important;
}

.content-block {
    padding: 80px 80px 30px 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
}

.column-block-2 {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    padding-block-start: 80px;
    gap: 100px;
}

/* old */

.arrow-block {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 80px;
}

.highlight-block {
    display: flex;
    justify-content: center;
    font-style: normal;
    font-weight: 300;
    font-family: 'Poppins';
    font-weight: 200;
    font-size: 24px;
    color: #ffffff;
}

.spotlight-section {
    display: flex;
    padding: 30px 80px;
    align-items: center;
    gap: 80px;
}


.digital-content {
    width: 90%;
}

.button-outline-text {
    font-size: 20px;
    cursor: pointer;
    text-transform: lowercase;
}

.content-block-2 {
    padding: 0px 0px 30px 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    width: 60%;
}
