.learn-more-cta {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.section-2-center {
    display: flex;
    padding: 50px 80px 150px 80px;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    scroll-snap-align: start;
    height: 100vh;
}

.section-3 {
    scroll-snap-align: start;
    height: 100vh;
}

.quote {
    padding-block-start: 120px;
    color: var(--white, #FFF);
    text-align: center;
    /* Headline H2 */
    font-family: "Poppins";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.2px;
    width: 85%;
}

.quote-author {
    color: var(--white, #FFF);
    /* Content */
    font-family: "Poppins";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.72px;
    margin-block-start: 24px;
}

.column-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
    row-gap: 60px;
    column-gap: 100px;
}

.column-title {
    color: var(--focus-color, #B3A1FF);
    /* Headline H2 */
    font-family: "Poppins";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.2px;
}

.column {
    color: #FFF;
    font-family: "Poppins";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
}

.arrow-block {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 80px;
    padding-block-start: 200px;
}

.highlight-block {
    margin-block: 60px;
    display: flex;
    justify-content: center;
    font-style: normal;
    font-weight: 300;
    font-family: 'Poppins';
    font-weight: 200;
    font-size: 24px;
    color: #ffffff;
    background: radial-gradient(10% 90% at 50% 47.17%, #9A5DFF 0%, #121212 100%);
}
