.learn-more-cta {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.section-2-center {
    display: flex;
    padding: 50px 80px 150px 80px;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    scroll-snap-align: start;
    height: 100vh;
    background: radial-gradient(10% 4% at 50% 91%, #9A5DFF 0%, #121212 100%);
}

.section-3 {
    scroll-snap-align: start;
    height: 100vh;
    padding-block-start: 100px;
}

.quote {
    padding-block-start: 100px;
    color: var(--white, #FFF);
    text-align: center;
    /* Headline H2 */
    font-family: "Poppins";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.2px;
    width: 85%;
}

.quote-author {
    color: var(--white, #FFF);
    /* Content */
    font-family: "Poppins";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.72px;
    margin-block-start: 16px;
}

.column-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
    row-gap: 30px;
    column-gap: 100px;
    margin-block-end: 24px;
}

.column-title {
    color: var(--focus-color, #B3A1FF);
    /* Headline H2 */
    font-family: "Poppins";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.2px;
}

.column {
    color: #FFF;
    font-family: "Poppins";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
}

.column-block {
    display: flex;
    padding: 30px 0px;
    align-items: center;
    gap: 211px;
    justify-content: center;
}

.arrow-block {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 80px;
}

.highlight-block {
    display: flex;
    justify-content: center;
    font-style: normal;
    font-weight: 300;
    font-family: 'Poppins';
    font-weight: 200;
    font-size: 24px;
    color: #ffffff;
}

.content-block {
    padding: 80px 80px 30px 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
}

.spotlight-section {
    display: flex;
    padding: 30px 80px;
    align-items: center;
    gap: 80px;
}

.digital-content-2 {
    width: 353px;
    font-style: normal;
    width: 20%;
    font-family: 'Poppins';
    font-weight: 200;
    font-size: 20px;
    color: #ffffff;
}

.digital-content {
    width: 90%;
}

.cta-sec-2 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
    padding-block-start: 24px !important;
}

.button-outline-text {
    font-size: 20px;
    cursor: pointer;
    text-transform: lowercase;
}

.column-block-2 {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    padding-block-start: 80px;
    gap: 40px;
}

.content-block-2 {
    padding: 0px 0px 30px 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    width: 60%;
}
