.navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    position: sticky;
    display: flex;
    padding: 0px 80px;
    justify-content: space-between;
    align-items: center;
    background-color: color(srgb 0.0667 0.0667 0.0667);
}
  
.logo {
    width: 73px;
}
  
.nav-tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
  
.tab {
    color: #EDEDED;
    font-family: "Poppins";
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: lowercase;
    letter-spacing: 0.8px;
}

.tab:hover {
    text-decoration: underline;
    text-underline-offset: 8px;
    letter-spacing: 0.8px;
}
  
.tab.active {
    color: #b3a1ff;
    font-weight: 900;
}