.spotlight-container {
  margin-top: 100px;
  width: 100vw;
  height: 80vh;
  color: #fff;
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  justify-content: flex-start;
}
.canvas-container {
  width: 50%;
}
