@import "./scss/breakpoints";
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "PxGrotesk-screen";
  src: url("./fonts/Px-Grotesk/Px-Grotesk-Screen/Px-Grotesk-Screen.otf");
}

@font-face {
  font-family: "PxGrotesk-bold";
  src: url("./fonts/Px-Grotesk/Px-Grotesk-Bold/Px-Grotesk-Bold.otf");
}

@font-face {
  font-family: "NeueHaas-light";
  font-style: light;
  src: url("./fonts/Neue-Haas/Neue-Haas-Light/NeueHaasDisplay-Light.woff");
}

@font-face {
  font-family: "NeueHaas-medium";
  font-style: light;
  src: url("./fonts/Neue-Haas/Neue-Haas-Medium/NeueHaasDisplay-Mediu.woff");
}

@font-face {
  font-family: "NeueHaas-roman";
  font-style: light;
  src: url("./fonts/Neue-Haas/Neue-Haas-Roman/NeueHaasDisplay-Roman.woff");
}

@font-face {
  font-family: "NeueHaas-bold";
  font-style: bold;
  src: url("./fonts/Neue-Haas/Neue-Haas-Bold/NeueHaasDisplay-Bold.woff");
}

#root {
  // min-height: 100vh;
  height: 100vh;
  overflow-x: hidden; /* Hide horizontal scrollbar */
  color: #3d5373;
  background-color: #0e0e0e;
  scroll-behavior: smooth;
}

/* Scrollbar styling */
/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #b3a1ff #202020;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #202020;
}

*::-webkit-scrollbar-thumb {
  background-color: #b3a1ff;
  border-radius: 20px;
  border: 3px solid #202020;
}

h1 {
  font-family: "PxGrotesk-bold";
  font-size: 24px;
  color: #e7e7e7;
  padding-bottom: 8%;

  @include mobile {
    font-size: 24px;
    padding-bottom: 2%;
  }
  @include tablet {
    font-size: 26px;
  }
  @include desktop {
    font-size: 28px;
  }
  @include xl {
    font-size: 36px;
  }
  @include xxl {
    font-size: 48px;
  }
}
h2 {
  font-family: "PxGrotesk-bold";
  font-size: 40px;
  line-height: normal;
  letter-spacing: 1.2px;
  color: #ffffff;

  @include mobile {
    font-size: 24px;
  }
}
h3 {
  font-family: "NeueHaas-bold";
  font-size: 28px;
  line-height: normal;
  letter-spacing: 1.2px;
  color: #ffffff;
}
h4 {
  font-family: "PxGrotesk-bold";
  font-size: 24px;
  line-height: normal;
  letter-spacing: 1.2px;
  color: #fff;
}
p {
  font-family: "NeueHaas-light";
  font-size: 14px;
  color: #e7e7e7;
  letter-spacing: 0.1em;
  line-height: 140%; /* 0.85738rem */
  color: #e7e7e7;

  @include mobile {
    font-size: 14px;
  }
  @include desktop {
    font-size: 14px;
  }
  @include xl {
    font-size: 14px;
  }
}
