@import "./breakpoints.scss"; // _variables.scss
$gap-top: 6rem;

.spotlight-visual {
  grid-column: 4 / span 4;
  position: sticky;
  top: 12vh;
  @include mobile {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    top: 1vh;
    display: flex;
    justify-content: center;
    max-width: 90vw;
  }
}
.spotlight-controls {
  grid-column: 9 / span 3;
  grid-row: span 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;

  h3 {
    font-family: "NeueHaas-roman";
    font-size: 28px;
  }
  p {
    font-family: "NeueHaas-roman";
    font-size: 14px;
  }

  @include mobile {
    grid-column: span 1;
    grid-row: span 1;
    padding-block-end: 90vh;
    z-index: 9;
  }
}

.spotlight-controls-title {
  @include mobile {
    display: none;
  }
}

.section-textblock {
  grid-column: span 4;
  grid-row: auto;
  h2 {
    font-family: "NeueHaas-light";
    font-size: 28px;
    color: #ffffff;
    padding-bottom: 6px;
  }
  h5 {
    font-family: "NeueHaas-light";
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0.1rem;
    padding-bottom: 4px;
  }

  @include mobile {
    grid-column: span 1;
    grid-row: span 1;
    padding-block-end: 6px;
  }
}
.section-textblock.section-sticky {
  position: sticky;
  top: $gap-top;
  align-self: flex-start;
  grid-column: 4 / span 4;

  @include mobile {
    grid-column: 1 / span 1;
    top: 0;
    position: relative;
  }
}
.section-textblock.scrollable {
  grid-column: 8 / span 4;

  @include mobile {
    grid-column: 1 / span 1;
  }
}
