@import "./breakpoints.scss"; // _variables.scss
$grid-gap: 24px;
$grid-columns: 12;
$gap-top: 8rem;

.container {
  display: grid;
  grid-template-columns: repeat($grid-columns, 1fr);
  grid-template-rows: 0.5fr repeat(4, minmax(100px, 1fr));
  gap: $grid-gap;
  height: 91vh; // At least the height of the viewport
  min-width: 100vw;
  // Adjust padding or margin if necessary for layout
  padding: $grid-gap 24px;
}
.text-container {
  display: grid;
  grid-template-columns: repeat($grid-columns, 1fr);
  gap: $grid-gap;
  min-height: 100vh;
  min-width: 100vw;
  // Adjust padding or margin if necessary for layout
  padding: $grid-gap 24px;
  grid-template-rows: repeat(5, auto);
}

.container-long {
  display: grid;
  grid-template-columns: repeat($grid-columns, 1fr);
  grid-template-rows: 0.5fr repeat(4, minmax(100px, 1fr));
  gap: $grid-gap;
  height: 450vh; // At least the height of the viewport
  min-width: 100vw;
  // Adjust padding or margin if necessary for layout
  padding: $grid-gap 24px;
}

.left-col {
  grid-column: span 2;
  grid-row: 2 / span 3;
  position: sticky;
  top: $gap-top; /* Adjust this value as needed */
  align-self: start; /* This ensures that the sticky positioning works correctly within a grid layout */
  // overline
  h4 {
    font-family: "NeueHaas-light";
    font-size: 14px;
    letter-spacing: 1px;
    color: "#e7e7e7";
    padding-bottom: 8px;
  }
  h3 {
    font-family: "NeueHaas-roman";
    font-size: 1.75rem;
    color: #ffffff;
    margin-top: 0; /* You may want to reset the margin to ensure the sticky position works from the very top */
  }
  p {
    padding-top: 8px;
  }
}

.hero-header {
  grid-column: 4 / span 4;
  grid-row: 2 / span 3;
  display: flex;
  flex-direction: column;
  gap: 18px;
  h3 {
    font-family: "NeueHaas-light";
    font-size: 28px;
    color: #ffffff;
  }
  h1 {
    font-family: "NeueHaas-roman";
    font-size: 44px;
    padding-bottom: 8%;
    @include desktop {
      font-size: 36px;
    }
  }
}

.hero-visual {
  grid-column: 9 / span 4;
  grid-row: 2 / span 3;
}

.text-content {
  gap: 12px;
  grid-column: 4 / span 4;
  grid-row: span 2;
  h3 {
    font-family: "NeueHaas-roman";
    font-size: 24px;
    color: #ffffff;
    padding-bottom: 10px;
  }
  p {
    grid-column: span 2;
    color: #ffffff;
    line-height: 135%; /* 0.85738rem */
    letter-spacing: 0.05rem;
  }
}
.text-content-2 {
  gap: 12px;
  grid-column: 8 / span 4;
  grid-row: span 2;
  h3 {
    font-family: "NeueHaas-roman";
    font-size: 24px;
    color: #ffffff;
    padding-bottom: 10px;
  }
  p {
    grid-column: span 2;
    color: #ffffff;
    line-height: 135%; /* 0.85738rem */
    letter-spacing: 0.05rem;
  }
}
.text-quote {
  grid-column: 4 / span 8;

  text-align: center;
  grid-row: 5 / span 1;
  span {
    color: white;
    font-family: "NeueHaas-roman";
    font-size: 24px;
    line-height: 116%; /* 1.71469rem */
  }
}

.spotlight-visual {
  grid-column: 4 / span 4;
  position: sticky;
  top: 12vh;
}
.spotlight-controls {
  grid-column: 9 / span 3;
  grid-row: span 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  z-index: 1;

  h3 {
    font-family: "NeueHaas-roman";
    font-size: 28px;
  }
  p {
    font-family: "NeueHaas-roman";
    font-size: 14px;
  }
}

.section-textblock {
  grid-column: span 4;
  grid-row: auto;
  h2 {
    font-family: "NeueHaas-light";
    font-size: 28px;
    color: #ffffff;
    padding-bottom: 10px;
  }
  h5 {
    font-family: "NeueHaas-light";
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0.1rem;
    padding-bottom: 4px;
  }
}
.section-textblock.section-sticky {
  position: sticky;
  top: $gap-top;

  p {
    padding-block-end: 6px;
  }
}
