$gap-top: 8rem;

.spotlight-visual {
  grid-column: 4 / span 4;
  position: sticky;
  top: 12vh;
}
.spotlight-controls {
  grid-column: 9 / span 3;
  grid-row: span 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  z-index: 1;

  h3 {
    font-family: "NeueHaas-roman";
    font-size: 28px;
  }
  p {
    font-family: "NeueHaas-roman";
    font-size: 14px;
  }
}

.section-textblock {
  grid-column: span 4;
  grid-row: auto;
  h2 {
    font-family: "NeueHaas-light";
    font-size: 28px;
    color: #ffffff;
    padding-bottom: 10px;
  }
  h5 {
    font-family: "NeueHaas-light";
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0.1rem;
    padding-bottom: 4px;
  }
}
.section-textblock.section-sticky {
  position: sticky;
  top: $gap-top;
  align-self: flex-start;

  p {
    padding-block-end: 6px;
  }
}
