@import "./breakpoints.scss"; // _variables.scss
$grid-gap: 32px;
$grid-columns: 12;
$gap-top: 8rem;

/* scroll container */

// .scroll-container {
//   scroll-snap-type: y mandatory;
//   overflow-y: scroll;
//   height: 100vh;
// }

.hero-container {
  display: grid;
  grid-template-columns: repeat($grid-columns, 1fr);
  grid-template-rows: 0.5fr repeat(4, minmax(100px, 1fr));
  gap: $grid-gap;
  min-height: 91vh; // At least the height of the viewport
  max-height: 92vh;
  width: 100vw;
  // Adjust padding or margin if necessary for layout
  padding: $grid-gap 24px;
  max-width: 100% !important;

  @include mobile {
    // min-height: 91vh;
    max-height: 150vh;
    gap: calc($grid-gap / 2);
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding: 24px 24px 0 24px;
    // padding: 8px;
  }
}
.container {
  display: grid;
  grid-template-columns: repeat($grid-columns, 1fr);
  grid-template-rows: 0.5fr repeat(4, minmax(100px, 1fr));
  gap: $grid-gap;
  min-height: 91vh; // At least the height of the viewport
  max-height: 92vh;
  width: 100vw;
  // Adjust padding or margin if necessary for layout
  padding: $grid-gap 24px;
  max-width: 100% !important;

  @include mobile {
    // min-height: 91vh;
    max-height: 180vh;
    gap: calc($grid-gap / 2);
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding: 24px 24px 0 24px;
    // padding: 8px;
  }
  @include tablet {
    // min-height: 91vh;
    max-height: 150vh;
    gap: calc($grid-gap / 2);
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding: 48px 48px 0 48px;
    // padding: 8px;
  }
}
.text-container {
  display: grid;
  grid-template-columns: repeat($grid-columns, 1fr);
  gap: $grid-gap;
  min-height: 100vh;
  min-width: 100vw;
  // Adjust padding or margin if necessary for layout
  padding: $grid-gap 24px;
  grid-template-rows: repeat(5, auto);

  @include mobile {
    gap: calc($grid-gap * 3);
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding: 24px 24px 48px 24px;
  }
  @include tablet {
    gap: calc($grid-gap / 2);
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding: 48px 48px 0 48px;
  }
}

.container-long {
  display: grid;
  grid-template-columns: repeat($grid-columns, 1fr);
  grid-template-rows: 0.5fr repeat(4, minmax(100px, 1fr));
  gap: $grid-gap;
  height: 450vh; // At least the height of the viewport
  min-width: 100vw;
  // Adjust padding or margin if necessary for layout
  padding: $grid-gap 24px;

  @include mobile {
    gap: calc($grid-gap / 2);
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    height: unset;
    padding: 0px 24px 0 24px;
  }
}

.left-col {
  grid-column: span 2;
  grid-row: 2 / span 3;
  position: sticky;
  top: $gap-top; /* Adjust this value as needed */
  align-self: flex-start; /* This ensures that the sticky positioning works correctly within a grid layout */
  // overline
  h4 {
    font-family: "NeueHaas-light";
    font-size: 14px;
    letter-spacing: 1px;
    color: "#e7e7e7";
    padding-bottom: 8px;
  }
  h3 {
    font-family: "NeueHaas-roman";
    padding-top: 4px;
    font-size: 1.5rem;
    color: #ffffff;
    margin-top: 0; /* You may want to reset the margin to ensure the sticky position works from the very top */

    @include desktop {
      font-size: 1.25rem;
    }
  }
  p {
    padding-top: 8px;
  }
  @include mobile {
    display: none;
  }
  @include tablet {
    display: none;
  }
}
.left-col-withContent {
  grid-column: span 2;
  grid-row: 1 / span 1;
  position: sticky;
  // top: $gap-top; /* Adjust this value as needed */
  top: 12vh;
  align-self: flex-start; /* This ensures that the sticky positioning works correctly within a grid layout */
  // overline
  h4 {
    font-family: "NeueHaas-light";
    font-size: 14px;
    letter-spacing: 1px;
    color: "#e7e7e7";
    padding-bottom: 2px;
  }
  h3 {
    font-family: "NeueHaas-roman";
    font-size: 1.5rem;
    color: #ffffff;
    margin-top: 0; /* You may want to reset the margin to ensure the sticky position works from the very top */
    padding-block-end: 6px;
  }
  @include mobile {
    position: relative;
    grid-column: span 1;
    grid-row: span 1;
    top: 0vh;
  }
  @include tablet {
    position: relative;
    grid-column: span 1;
    grid-row: span 1;
  }
}

.hero-header {
  grid-column: 4 / span 4;
  grid-row: 2 / span 1;
  display: flex;
  flex-direction: column;
  // gap: 18px;
  h3 {
    font-family: "NeueHaas-light";
    font-size: 28px;
    color: #ffffff;
  }
  @include mobile {
    grid-column: 1 / span 1;
    grid-row: span 1;
  }
  @include tablet {
    grid-column: 2 / span 6;
  }
}
.hero-text {
  grid-column: 4 / span 4;
  grid-row: 3;
  p {
    font-size: 1rem;
    @include xxl {
      font-size: 1.25rem;
    }
  }
  @include mobile {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
  }
  @include tablet {
    grid-column: 2 / span 6;
  }
}

.hero-visual {
  grid-column: 9 / span 4;
  grid-row: 2 / span 3;

  @include mobile {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
.three-canvas {
  width: 100% !important;
  height: 60vh !important;
  @include mobile {
    height: 40vh !important;
    width: 80vw !important;
  }
  @include tablet {
    height: 40vh !important;
  }
}
.hero-visual-img {
  grid-column: 9 / span 3;
  grid-row: 2 / span 3;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  @include mobile {
    grid-column: span 1;
    grid-row: span 1;
    max-height: 40vh;
  }
}

.text-content {
  gap: 12px;
  grid-column: 4 / span 4;
  h3 {
    font-family: "NeueHaas-roman";
    font-size: 24px;
    color: #ffffff;
    padding-bottom: 10px;
  }
  p {
    grid-column: span 2;
    color: #ffffff;
    line-height: 135%; /* 0.85738rem */
    letter-spacing: 0.05rem;
    @include xxl {
      font-size: 1.15rem;
    }
  }
  @include mobile {
    grid-column: 1 / span 1;
    padding: 2rem 0;
    // grid-row: 3 / span 1;
  }
  @include tablet {
    grid-column: 1 / span 1;
    padding: 2rem 0;
  }
}
.text-content-2 {
  gap: 12px;
  grid-column: 8 / span 4;
  h3 {
    font-family: "NeueHaas-roman";
    font-size: 24px;
    color: #ffffff;
    padding-bottom: 10px;
  }
  p {
    grid-column: span 2;
    color: #ffffff;
    line-height: 135%; /* 0.85738rem */
    letter-spacing: 0.05rem;
    @include xxl {
      font-size: 1.15rem;
    }
  }

  @include mobile {
    grid-column: 1 / span 1;
    padding: 2rem 0;
  }
  @include tablet {
    grid-column: 1 / span 1;
    padding: 2rem 0;
  }
}
.text-quote {
  grid-column: 4 / span 8;

  text-align: center;
  grid-row: 3 / span 1;
  span {
    color: white;
    font-family: "NeueHaas-medium";
    font-size: 24px;
    line-height: 116%; /* 1.71469rem */
    letter-spacing: 0.1rem;

    @include mobile {
      font-size: 1.25rem;
      line-height: 126%;
    }
  }
  @include mobile {
    grid-column: 1 / span 1;
    padding-block-end: 2rem;
  }
  @include tablet {
    grid-column: 1 / span 1;
    padding-block-end: 2rem;
  }
}

.scroll-down-cta {
  grid-column: 4 / span 4;
  grid-row: 5 / span 1;
  align-items: center;
  gap: 32px;
  display: flex;
  @include mobile {
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
    width: 80vw;
  }
  @include tablet {
    grid-column: 2 / span 6;
  }
}
.scroll-down-cta svg {
  transition: transform 0.3s ease-in-out; /* Apply transition to both hover and non-hover states */
  width: 48px;

  @include mobile {
    width: 36px;
  }
}
.scroll-down-cta:hover svg {
  transform: rotate(-45deg); /* Rotate arrow */
  transition: transform 0.3s ease-in-out; /* Smooth transition */
}
.scroll-down-cta-text {
  line-height: 1.5em; /* Line height */
  font-size: 1.35em; /* Font size */
  height: 3em; /* Twice the line height for two lines */
  max-width: 400px;
  /* overflow: hidden; */
  word-wrap: break-word;
  display: inline-block;

  @include mobile {
    font-size: 1rem;
  }
}

// .scroll-down-cta:hover .scroll-down-cta-text {
//   text-decoration: underline;
//   text-decoration-color: #7b7b7b;
// }
